@use 'sass:color';
@import '../../../styles/settings.scss';

.root {
  background-color: $color-light;
  padding: $base-padding;
  border-radius: $radius;
  @include flex(column, flex-start, space-between);
}