@import '../../../styles/settings.scss';

.root {
  padding: $base-padding;

  .post {
    background-color: $color-light;
    padding: $base-padding*2;
    min-height: 50vh;
    border-radius: 40px;
  }

  .actions {
    list-style: none;
    padding: 0 0 0 40px;

    li {
      display: inline;
    }
  }
}

@media(min-width: $size-md) {
  .root .actions {
    @include flex(column, flex-start, flex-start);
  }
}
