@import '../../../styles/settings.scss';

.root {
  background-color: $color-secondary;
  padding: $base-padding;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
 
  .title {
    margin: 0;
    padding-left: $base-padding;

    a {
      text-decoration: none;
      color: $color-light;
    }
  }
}